In [1]:
import pandas
import numpy
import sklearn

In [2]:
pip install boto3 pandas numpy scikit-learn==1.7.2 joblib

Requirement already satisfied: boto3 in c:\users\my pc\anaconda3\lib\site-packages (1.42.16)
Requirement already satisfied: pandas in c:\users\my pc\anaconda3\lib\site-packages (2.3.3)
Requirement already satisfied: numpy in c:\users\my pc\anaconda3\lib\site-packages (2.4.0)
Requirement already satisfied: scikit-learn==1.7.2 in c:\users\my pc\anaconda3\lib\site-packages (1.7.2)
Requirement already satisfied: joblib in c:\users\my pc\anaconda3\lib\site-packages (1.5.3)
Requirement already satisfied: scipy>=1.8.0 in c:\users\my pc\anaconda3\lib\site-packages (from scikit-learn==1.7.2) (1.16.3)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\my pc\anaconda3\lib\site-packages (from scikit-learn==1.7.2) (3.5.0)
Requirement already satisfied: botocore<1.43.0,>=1.42.16 in c:\users\my pc\anaconda3\lib\site-packages (from boto3) (1.42.16)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in c:\users\my pc\anaconda3\lib\site-packages (from boto3) (1.0.1)
Requirement already satisfied: s3transfer<0.17.0,>=0.16.0 in c:\users\my pc\anaconda3\lib\site-packages (from boto3) (0.16.0)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in c:\users\my pc\anaconda3\lib\site-packages (from botocore<1.43.0,>=1.42.16->boto3) (2.9.0.post0)
Requirement already satisfied: urllib3!=2.2.0,<3,>=1.25.4 in c:\users\my pc\anaconda3\lib\site-packages (from botocore<1.43.0,>=1.42.16->boto3) (2.5.0)
Requirement already satisfied: six>=1.5 in c:\users\my pc\anaconda3\lib\site-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.43.0,>=1.42.16->boto3) (1.17.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\my pc\anaconda3\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\my pc\anaconda3\lib\site-packages (from pandas) (2025.2)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd, numpy as np, sklearn, boto3, joblib
print("Environment ready ✅")

Environment ready ✅

In [4]:
pip install kagglehub[pandas-datasets]

Requirement already satisfied: kagglehub[pandas-datasets] in c:\users\my pc\anaconda3\lib\site-packages (0.3.13)
Requirement already satisfied: packaging in c:\users\my pc\anaconda3\lib\site-packages (from kagglehub[pandas-datasets]) (25.0)
Requirement already satisfied: pyyaml in c:\users\my pc\anaconda3\lib\site-packages (from kagglehub[pandas-datasets]) (6.0.3)
Requirement already satisfied: requests in c:\users\my pc\anaconda3\lib\site-packages (from kagglehub[pandas-datasets]) (2.32.5)
Requirement already satisfied: tqdm in c:\users\my pc\anaconda3\lib\site-packages (from kagglehub[pandas-datasets]) (4.67.1)
Requirement already satisfied: pandas in c:\users\my pc\anaconda3\lib\site-packages (from kagglehub[pandas-datasets]) (2.3.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\my pc\anaconda3\lib\site-packages (from pandas->kagglehub[pandas-datasets]) (2.4.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\my pc\anaconda3\lib\site-packages (from pandas->kagglehub[pandas-datasets]) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\my pc\anaconda3\lib\site-packages (from pandas->kagglehub[pandas-datasets]) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\my pc\anaconda3\lib\site-packages (from pandas->kagglehub[pandas-datasets]) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\my pc\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas->kagglehub[pandas-datasets]) (1.17.0)
Requirement already satisfied: charset_normalizer<4,>=2 in c:\users\my pc\anaconda3\lib\site-packages (from requests->kagglehub[pandas-datasets]) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\my pc\anaconda3\lib\site-packages (from requests->kagglehub[pandas-datasets]) (3.11)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\my pc\anaconda3\lib\site-packages (from requests->kagglehub[pandas-datasets]) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\my pc\anaconda3\lib\site-packages (from requests->kagglehub[pandas-datasets]) (2025.11.12)
Requirement already satisfied: colorama in c:\users\my pc\anaconda3\lib\site-packages (from tqdm->kagglehub[pandas-datasets]) (0.4.6)
Note: you may need to restart the kernel to use updated packages.

In [5]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("yeanzc/telco-customer-churn-ibm-dataset")

print("Path to dataset files:", path)

Path to dataset files: C:\Users\MY PC\.cache\kagglehub\datasets\yeanzc\telco-customer-churn-ibm-dataset\versions\1

In [6]:
import os

os.listdir(path)

['Telco_customer_churn.xlsx']

In [7]:
excel_path = os.path.join(path, "Telco_customer_churn.xlsx")
df = pd.read_excel(excel_path)

df.head()

,CustomerID,Count,Country,State,City,Zip Code,Lat Long,Latitude,Longitude,Gender,...,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn Label,Churn Value,Churn Score,CLTV,Churn Reason
0,3668-QPYBK,1,United States,California,Los Angeles,90003,"33.964131, -118.272783",33.964131,-118.272783,Male,...,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,1,86,3239,Competitor made better offer
1,9237-HQITU,1,United States,California,Los Angeles,90005,"34.059281, -118.30742",34.059281,-118.307420,Female,...,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,1,67,2701,Moved
2,9305-CDSKC,1,United States,California,Los Angeles,90006,"34.048013, -118.293953",34.048013,-118.293953,Female,...,Month-to-month,Yes,Electronic check,99.65,820.5,Yes,1,86,5372,Moved
3,7892-POOKP,1,United States,California,Los Angeles,90010,"34.062125, -118.315709",34.062125,-118.315709,Female,...,Month-to-month,Yes,Electronic check,104.80,3046.05,Yes,1,84,5003,Moved
4,0280-XJGEX,1,United States,California,Los Angeles,90015,"34.039224, -118.266293",34.039224,-118.266293,Male,...,Month-to-month,Yes,Bank transfer (automatic),103.70,5036.3,Yes,1,89,5340,Competitor had better devices

In [8]:
df.shape

(7043, 33)

In [9]:
df.describe()

,Count,Zip Code,Latitude,Longitude,Tenure Months,Monthly Charges,Churn Value,Churn Score,CLTV
count,7043.0,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000
mean,1.0,93521.964646,36.282441,-119.798880,32.371149,64.761692,0.265370,58.699418,4400.295755
std,0.0,1865.794555,2.455723,2.157889,24.559481,30.090047,0.441561,21.525131,1183.057152
min,1.0,90001.000000,32.555828,-124.301372,0.000000,18.250000,0.000000,5.000000,2003.000000
25%,1.0,92102.000000,34.030915,-121.815412,9.000000,35.500000,0.000000,40.000000,3469.000000
50%,1.0,93552.000000,36.391777,-119.730885,29.000000,70.350000,0.000000,61.000000,4527.000000
75%,1.0,95351.000000,38.224869,-118.043237,55.000000,89.850000,1.000000,75.000000,5380.500000
max,1.0,96161.000000,41.962127,-114.192901,72.000000,118.750000,1.000000,100.000000,6500.000000

In [10]:
df.isnull().sum()

CustomerID              0
Count                   0
Country                 0
State                   0
City                    0
Zip Code                0
Lat Long                0
Latitude                0
Longitude               0
Gender                  0
Senior Citizen          0
Partner                 0
Dependents              0
Tenure Months           0
Phone Service           0
Multiple Lines          0
Internet Service        0
Online Security         0
Online Backup           0
Device Protection       0
Tech Support            0
Streaming TV            0
Streaming Movies        0
Contract                0
Paperless Billing       0
Payment Method          0
Monthly Charges         0
Total Charges           0
Churn Label             0
Churn Value             0
Churn Score             0
CLTV                    0
Churn Reason         5174
dtype: int64

In [11]:
df = df.drop(columns=["Churn Reason"])
df.columns

Index(['CustomerID', 'Count', 'Country', 'State', 'City', 'Zip Code',
       'Lat Long', 'Latitude', 'Longitude', 'Gender', 'Senior Citizen',
       'Partner', 'Dependents', 'Tenure Months', 'Phone Service',
       'Multiple Lines', 'Internet Service', 'Online Security',
       'Online Backup', 'Device Protection', 'Tech Support', 'Streaming TV',
       'Streaming Movies', 'Contract', 'Paperless Billing', 'Payment Method',
       'Monthly Charges', 'Total Charges', 'Churn Label', 'Churn Value',
       'Churn Score', 'CLTV'],
      dtype='object')

In [12]:
raw_csv = "telco_customer_churn_raw.csv"
df.to_csv(raw_csv, index=False)

print("Raw CSV ready:", raw_csv)

Raw CSV ready: telco_customer_churn_raw.csv

In [13]:
AWS_ACCESS_KEY_ID = "AKIARRNVMAZE4NQ5ZKWD"
AWS_SECRET_ACCESS_KEY = "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"
AWS_REGION = "ap-south-1"   # Mumbai (change ONLY if you selected another region)

session = boto3.Session(
    aws_access_key_id=AWS_ACCESS_KEY_ID,
    aws_secret_access_key=AWS_SECRET_ACCESS_KEY,
    region_name=AWS_REGION
)

s3 = session.client("s3")
dynamodb = session.resource("dynamodb")

print("Connected to AWS successfully ✅")

Connected to AWS successfully ✅

In [14]:
table_name = "churn_feature_store"

try:
    table = dynamodb.create_table(
        TableName=table_name,
        KeySchema=[
            {"AttributeName": "customer_id", "KeyType": "HASH"}
        ],
        AttributeDefinitions=[
            {"AttributeName": "customer_id", "AttributeType": "S"}
        ],
        BillingMode="PAY_PER_REQUEST"  # VERY IMPORTANT: free-tier safe
    )

    table.wait_until_exists()
    print("DynamoDB feature store created ✅")

except dynamodb.meta.client.exceptions.ResourceInUseException:
    table = dynamodb.Table(table_name)
    print("DynamoDB table already exists ✅")

DynamoDB table already exists ✅

In [15]:
import botocore
bucket_name = "telco-churn-raw-data-ml-001"
AWS_REGION = "ap-south-1"

try:
    s3.create_bucket(
        Bucket=bucket_name,
        CreateBucketConfiguration={
            "LocationConstraint": AWS_REGION
        }
    )
    print(f"S3 bucket created successfully ✅ {bucket_name}")

except botocore.exceptions.ClientError as e:
    error_code = e.response["Error"]["Code"]

    if error_code == "BucketAlreadyOwnedByYou":
        print(f"S3 bucket already exists, using it ✅ {bucket_name}")
    else:
        raise e

S3 bucket already exists, using it ✅ telco-churn-raw-data-ml-001

In [16]:
response = s3.list_buckets()

for b in response["Buckets"]:
    print(b["Name"])

telco-churn-model-ml-001
telco-churn-raw-data-ml-001

In [17]:
response = s3.list_objects_v2(Bucket="telco-churn-raw-data-ml-001")

if "Contents" in response:
    for obj in response["Contents"]:
        print(obj["Key"])
else:
    print("Bucket is empty ❌")

telco_customer_churn_raw.csv

In [18]:
s3.upload_file(
    Filename="telco_customer_churn_raw.csv",
    Bucket="telco-churn-raw-data-ml-001",
    Key="telco_customer_churn_raw.csv"
)

print("File uploaded to S3 ✅")

File uploaded to S3 ✅

In [19]:
import io

bucket_name = "telco-churn-raw-data-ml-001"
object_key = "telco_customer_churn_raw.csv"

obj = s3.get_object(
    Bucket=bucket_name,
    Key=object_key
)

df_raw = pd.read_csv(io.BytesIO(obj["Body"].read()))

print("Raw data loaded from S3 ✅")
df_raw.head()

Raw data loaded from S3 ✅

,CustomerID,Count,Country,State,City,Zip Code,Lat Long,Latitude,Longitude,Gender,...,Streaming Movies,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn Label,Churn Value,Churn Score,CLTV
0,3668-QPYBK,1,United States,California,Los Angeles,90003,"33.964131, -118.272783",33.964131,-118.272783,Male,...,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,1,86,3239
1,9237-HQITU,1,United States,California,Los Angeles,90005,"34.059281, -118.30742",34.059281,-118.307420,Female,...,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,1,67,2701
2,9305-CDSKC,1,United States,California,Los Angeles,90006,"34.048013, -118.293953",34.048013,-118.293953,Female,...,Yes,Month-to-month,Yes,Electronic check,99.65,820.5,Yes,1,86,5372
3,7892-POOKP,1,United States,California,Los Angeles,90010,"34.062125, -118.315709",34.062125,-118.315709,Female,...,Yes,Month-to-month,Yes,Electronic check,104.80,3046.05,Yes,1,84,5003
4,0280-XJGEX,1,United States,California,Los Angeles,90015,"34.039224, -118.266293",34.039224,-118.266293,Male,...,Yes,Month-to-month,Yes,Bank transfer (automatic),103.70,5036.3,Yes,1,89,5340

In [20]:
feature_cols = [
    "CustomerID",
    "Tenure Months",
    "Monthly Charges",
    "Total Charges",
    "Churn Score",
    "CLTV",
    "Churn Value"   # target
]

df_features = df_raw[feature_cols].copy()
df_features.head()

,CustomerID,Tenure Months,Monthly Charges,Total Charges,Churn Score,CLTV,Churn Value
0,3668-QPYBK,2,53.85,108.15,86,3239,1
1,9237-HQITU,2,70.70,151.65,67,2701,1
2,9305-CDSKC,8,99.65,820.5,86,5372,1
3,7892-POOKP,28,104.80,3046.05,84,5003,1
4,0280-XJGEX,49,103.70,5036.3,89,5340,1

In [21]:
# Convert Total Charges to numeric
df_features["Total Charges"] = pd.to_numeric(
    df_features["Total Charges"], errors="coerce"
)

# Fill any missing values safely
df_features.fillna(0, inplace=True)

df_features.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CustomerID       7043 non-null   object
 1   Tenure Months    7043 non-null   int64
 2   Monthly Charges  7043 non-null   float64
 3   Total Charges    7043 non-null   float64
 4   Churn Score      7043 non-null   int64
 5   CLTV             7043 non-null   int64
 6   Churn Value      7043 non-null   int64
dtypes: float64(2), int64(4), object(1)
memory usage: 385.3+ KB

In [22]:
from decimal import Decimal
from botocore.exceptions import ClientError

table = dynamodb.Table("churn_feature_store")

def to_decimal(x):
    return Decimal(str(round(x, 4)))

inserted = 0
already_present = 0

for _, row in df_features.iterrows():
    try:
        table.put_item(
            Item={
                "customer_id": row["CustomerID"],
                "tenure_months": to_decimal(row["Tenure Months"]),
                "monthly_charges": to_decimal(row["Monthly Charges"]),
                "total_charges": to_decimal(row["Total Charges"]),
                "churn_score": to_decimal(row["Churn Score"]),
                "cltv": to_decimal(row["CLTV"]),
                "churn_value": int(row["Churn Value"])
            },
            ConditionExpression="attribute_not_exists(customer_id)"
        )
        inserted += 1

    except ClientError as e:
        if e.response["Error"]["Code"] == "ConditionalCheckFailedException":
            already_present += 1
        else:
            raise e

print(f"Inserted new records: {inserted} ✅")
print(f"Already existing records: {already_present} ℹ️")

Inserted new records: 0 ✅
Already existing records: 7043 ℹ️

In [23]:
response = table.scan(Limit=5)
response["Items"]

[{'total_charges': Decimal('70.15'),
  'cltv': Decimal('3208'),
  'monthly_charges': Decimal('70.15'),
  'churn_value': Decimal('1'),
  'customer_id': '2619-WFQWU',
  'churn_score': Decimal('96'),
  'tenure_months': Decimal('1')},
 {'total_charges': Decimal('7869.05'),
  'cltv': Decimal('4203'),
  'monthly_charges': Decimal('113.05'),
  'churn_value': Decimal('0'),
  'customer_id': '3870-SPZSI',
  'churn_score': Decimal('54'),
  'tenure_months': Decimal('70')},
 {'total_charges': Decimal('5817'),
  'cltv': Decimal('4039'),
  'monthly_charges': Decimal('90.05'),
  'churn_value': Decimal('0'),
  'customer_id': '8405-IGQFX',
  'churn_score': Decimal('45'),
  'tenure_months': Decimal('63')},
 {'total_charges': Decimal('1517.5'),
  'cltv': Decimal('3185'),
  'monthly_charges': Decimal('54.65'),
  'churn_value': Decimal('0'),
  'customer_id': '9972-NKTFD',
  'churn_score': Decimal('73'),
  'tenure_months': Decimal('28')},
 {'total_charges': Decimal('80.15'),
  'cltv': Decimal('3947'),
  'monthly_charges': Decimal('80.15'),
  'churn_value': Decimal('1'),
  'customer_id': '6086-ESGRL',
  'churn_score': Decimal('72'),
  'tenure_months': Decimal('1')}]

In [24]:
table = dynamodb.Table("churn_feature_store")

items = []
response = table.scan()

items.extend(response["Items"])

while "LastEvaluatedKey" in response:
    response = table.scan(ExclusiveStartKey=response["LastEvaluatedKey"])
    items.extend(response["Items"])

df_features = pd.DataFrame(items)

print("Records loaded from feature store:", len(df_features))
df_features.head()

Records loaded from feature store: 7043

,total_charges,cltv,monthly_charges,churn_value,customer_id,churn_score,tenure_months
0,70.15,3208,70.15,1,2619-WFQWU,96,1
1,7869.05,4203,113.05,0,3870-SPZSI,54,70
2,5817,4039,90.05,0,8405-IGQFX,45,63
3,1517.5,3185,54.65,0,9972-NKTFD,73,28
4,80.15,3947,80.15,1,6086-ESGRL,72,1

In [25]:
# Convert Decimal → float
for col in df_features.columns:
    if col != "customer_id":
        df_features[col] = df_features[col].astype(float)

X = df_features[
    ["tenure_months", "monthly_charges", "total_charges", "churn_score", "cltv"]
]

y = df_features["churn_value"]

X.head(), y.head()

(   tenure_months  monthly_charges  total_charges  churn_score    cltv
 0            1.0            70.15          70.15         96.0  3208.0
 1           70.0           113.05        7869.05         54.0  4203.0
 2           63.0            90.05        5817.00         45.0  4039.0
 3           28.0            54.65        1517.50         73.0  3185.0
 4            1.0            80.15          80.15         72.0  3947.0,
 0    1.0
 1    0.0
 2    0.0
 3    0.0
 4    1.0
 Name: churn_value, dtype: float64)

In [26]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X, y,
    test_size=0.2,
    random_state=42,
    stratify=y
)

print("Train size:", X_train.shape)
print("Test size:", X_test.shape)

Train size: (5634, 5)
Test size: (1409, 5)

In [27]:
!pip install -U scikit-learn==1.7.2 joblib
import sklearn
print(sklearn.__version__)

Requirement already satisfied: scikit-learn==1.7.2 in c:\users\my pc\anaconda3\lib\site-packages (1.7.2)
Requirement already satisfied: joblib in c:\users\my pc\anaconda3\lib\site-packages (1.5.3)
Requirement already satisfied: numpy>=1.22.0 in c:\users\my pc\anaconda3\lib\site-packages (from scikit-learn==1.7.2) (2.4.0)
Requirement already satisfied: scipy>=1.8.0 in c:\users\my pc\anaconda3\lib\site-packages (from scikit-learn==1.7.2) (1.16.3)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\my pc\anaconda3\lib\site-packages (from scikit-learn==1.7.2) (3.5.0)
1.7.2

In [28]:
from sklearn.linear_model import LogisticRegression
import joblib

model = LogisticRegression(
    max_iter=1000,
    solver="lbfgs",
    multi_class="auto",
    n_jobs=1
)

model.fit(X_train, y_train)
joblib.dump(model, "churn_model.joblib")
print("Model trained and saved for Lambda compatibility ✅")

C:\Users\MY PC\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:1272: FutureWarning: 'multi_class' was deprecated in version 1.5 and will be removed in 1.8. From then on, it will always use 'multinomial'. Leave it to its default value to avoid this warning.
  warnings.warn(

Model trained and saved for Lambda compatibility ✅

In [29]:
from sklearn.metrics import accuracy_score, classification_report

y_pred = model.predict(X_test)

print("Accuracy:", accuracy_score(y_test, y_pred))
print("\nClassification Report:\n")
print(classification_report(y_test, y_pred))

Accuracy: 0.9112845990063875

Classification Report:

              precision    recall  f1-score   support

         0.0       0.94      0.94      0.94      1035
         1.0       0.84      0.82      0.83       374

    accuracy                           0.91      1409
   macro avg       0.89      0.88      0.89      1409
weighted avg       0.91      0.91      0.91      1409

In [30]:
import joblib

joblib.dump(model, "churn_model.joblib")
print("Model saved as churn_model.joblib ✅")

Model saved as churn_model.joblib ✅

In [31]:
os.path.exists("churn_model.joblib")

True

In [32]:
from botocore.exceptions import ClientError

model_bucket = "telco-churn-model-ml-001"
AWS_REGION = "ap-south-1"

try:
    s3.create_bucket(
        Bucket=model_bucket,
        CreateBucketConfiguration={"LocationConstraint": AWS_REGION}
    )
    print(f"Model bucket created successfully ✅ {model_bucket}")

except ClientError as e:
    error_code = e.response["Error"]["Code"]

    if error_code == "BucketAlreadyOwnedByYou":
        print(f"Model bucket already exists, using it ✅ {model_bucket}")
    else:
        raise e

Model bucket already exists, using it ✅ telco-churn-model-ml-001

In [33]:
s3.upload_file(
    Filename="churn_model.joblib",
    Bucket=model_bucket,
    Key="models/churn_model.joblib"
)

print("Model uploaded to S3 ✅")

Model uploaded to S3 ✅

In [34]:
response = s3.list_objects_v2(Bucket=model_bucket)

for obj in response.get("Contents", []):
    print(obj["Key"])

models/churn_model.joblib